body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565656;
    height: 100vh;
}

/********* title and credits styling *********/

.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/********* instructions styling *********/

.instructions-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/********* header styling *********/

.header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

/********* game button styling *********/

.btn {
    position: absolute;
    top: 80%;
    width: 15%;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #333;
    color: white;
}
