/********* main body styling *********/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565656;
    height: 100vh;
}

/********* title and credits styling *********/

.heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/********* start button styling *********/
.game-wrapper {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

#startButton {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #333;
    color: white;
}

/********* instructions button styling *********/

#instructions-button {
    background-color: #333;
    border: 1px solid #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

/********* game container styling *********/
.game-wrapper {
    width: 400px;
    height: 600px;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #87ceeb;
    overflow: hidden;
    border: 2px solid #333;
}

.basket {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 20px;
    background-color: #333;
    left: 160px;
}
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6347;
    border-radius: 50%;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.level {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.missed {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

/********* media query *********/

@media only screen and (max-width: 768px) {
    .credits {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .instructions {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .game-wrapper {
        width: 55%;
    }
}

@media screen and (max-width: 600px) {
    .game-wrapper {
        width: 95%;
    }
}
