/********* main body styling *********/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #565656;
}

/********* title and credits styling *********/

.heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/********* instructions styling *********/

.instructions {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    padding: 50px;
    background-color: #565656;
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
}

/********* game container styling *********/

.game-container {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #87ceeb;
    overflow: hidden;
    border: 2px solid #333;
}

.basket {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 20px;
    background-color: #333;
    left: 160px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6347;
    border-radius: 50%;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.level {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.missed {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}
